<%- include("../header.ejs") %>
<main>
    <% if (error) { %>
        <p><%= error %></p>
    <% } %>
    <h1>Synthèse des balades par arrondissement</h1>
    <table>
        <tr>
            <th>Arrondissement</th>
            <th>Nombre de balades</th>
        </tr>
        <% synthese.forEach(row => { %>
            <tr>
                <td><%= row._id %></td>
                <td><%= row.count %></td>
            </tr>
        <% }) %>
    </table>
</main>
<%- include("../footer.ejs") %>
